<img src="assets/wallpaper/booknow.jpg" class="wp">

<div class="footer-box">
    <div class="footer-box-section">
      <div class="footer-box-icon">
        <img class="icon" src="../../assets/icon/clock.png">
      </div>
      <div class="text">Operating hours for the lounge are; <br> 7:00 AM to 10:00 PM on weekdays <br> 10:00 AM to 11:59 PM on Saturdays.</div>
    </div>
  
    <div class="footer-box-section">
      <div class="footer-box-icon">
        <img class="icon" src="../../assets/icon/home.png">
      </div>
      <div class="text">Branches : Eryaman, Umitkoy and Cankaya</div>
    </div>

    <div class="footer-box-section">
        <div class="footer-box-icon">
          <img class="icon" src="../../assets/icon/calendar.png">
        </div>
        <div class="text">Click the <a routerLink="/booknow">Book Now</a> button to proceed to the appointment page.</div>
      </div>