<img src="assets/wallpaper/gecici.jpg" class="wp">
<script src="../../firebase.js"></script>
<div class="about-container">
    <p class="about-text">We are a distinguished hairdressing company with 50 years of experience, offering authorized and professional services. Our skilled and certified team is committed to delivering exceptional hair solutions. At our salon, we prioritize customer satisfaction, using top-notch products and cutting-edge techniques to achieve stunning results. Trust us for personalized care and attention, making every visit a delightful experience. Your hair's health and style are in expert hands with us.</p>
  
    <div class="contact-form">
      <h3>Contact Us</h3>
      <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
  
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
  
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
  
        <button type="submit">Send</button>
      </form>
    </div>
  </div>