<div class="navbar navbar-expand-md lg navbar-dark bg-primary">
    <div class="container">
        <a href="#" class="navbar-brand" style="margin-left: -3rem;">Moonlight</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="" class="nav-link active" style="margin-left: 3rem;">Home Page</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link active">Get Appointment</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link active">Appointments</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link active">Hairdressers</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link active">Services</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link active">Promotions & Discounts</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link active">Help & Support</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item profile-logo">
                <a href="#" class="nav-link">
                    <img src="assets/img/profile.png" class="logo" width="38px" height="38px">
                </a>
            </li>
        </ul>
    </div>
</div>