<div class="navbar navbar-expand-md lg navbar-dark bg-primary">
    <div class="container">
        <a href="#" class="navbar-brand">Moonlight</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="" class="nav-link active">Home Page</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link active">Get Appointment</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link active">Appointments</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link active">Hairdressers</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link active">Services</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link active">Promotions & Discounts</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link active">Help & Support</a>
            </li>
        </ul>
    </div>
</div>