.card {
    width: 1000px;
    height: 300px;
    display: flex;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgb(243, 234, 234);
  }
  
  
  h1 {
    color: rgb(228, 224, 14);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    margin-bottom: 2rem;
    margin-left: -4rem;
  }
  
  .card .col-md-4 {
    width: 22.5%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .card .col-md-4 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .card .col-md-8 {
    width: 75%;
  }
  
  .card .col-md-8 .card-body {
    width: 100%;
    padding: 1rem;
  }
  
  .card .col-md-8 .card-body .card-title {
    color: rgb(177, 81, 81);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .card .col-md-8 .card-body .card-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .card .col-md-8 .card-body .card-description {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .logo {
    width: 30px;
    height: auto;
    margin-right: 10px;
    margin-left: 50px;
}


  
 

