<h1 style="margin-top: -1rem;">Hairdressers</h1>
<div class="card" style="display: flex;" *ngFor="let item of hairdressers ">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/{{item.imageUrl}}" class="img-fluid" alt="Resim">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{item.title}}</h2>
          <p class="card-text">{{item.text}}</p>
          <p class="card-description"><small class="text-muted">{{item.description}}</small></p>
          <button class="btn btn-sm btn-outline-primary">Get Appointment</button>
          <img src="assets/logo/{{item.phoneUrl}}" alt="Logo" class="logo" style="margin-left: 15rem;">
          <span class="phone-number">{{item.number}}</span>
          <img src="assets/logo/{{item.instagramUrl}}" alt="Logo" class="logo">
          <span class="instagram">{{item.instagram}}</span>
        </div>
      </div>
    </div>
  </div>
